@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-image: url(img/scrolling-gradient.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
    height: 100px;
    background-color:rgba(32, 31, 34, 0.9)
  }
  
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
.logo img{
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1rem!important;
  }
  
nav .links{
    float: right!important;
    padding: 0!important;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center!important; */
    align-items:center;
  }
nav .links li:hover{
    text-decoration: underline;
  }
nav .links li{
    list-style: none;
  }
.links{
    margin-left: auto;
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    /* float: right; */
  }

#nav-toggle{
    position: absolute;
    top: -100px;
  }
  
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
@media screen and (max-width: 768px){
    nav .logo{
      float: none;
      width: auto;
      justify-content: center;
      padding-right: 0!important;
    }
    nav .links{
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.85);
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
    nav .links a{
      font-size: 20px;
    }
    nav .icon-burger{
      display: block;
    }
    nav :checked ~ .links{
      bottom: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
  }
  
.caption{
    text-align: center;
}
.caption h2{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0.1rem;
}
.caption h4{
    font-size: 26px;
    font-family: 'Lato', sans-serif;
}
.caption h6{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
.caption h3{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.button-lg{
    border-width: 1.5px!important;
    font-family: 'Lato', sans-serif;
    color: black!important;
    /* background-color: #9209e6!important; */
    border-radius: 0.5rem!important;
    font-size: 1.5rem!important;
    border: solid 2px black!important;
    text-decoration: none;
    /* box-shadow: 0.2rem 0.2rem 0.5rem black!important; */
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .button-lg:hover{
    /* text-decoration: underline!important; */
    color: white!important;
    /* background-color: #9209e6!important; */
    background-color: black;
    text-decoration-color: white;
    box-shadow: 0.2rem 0.2rem 0.5rem black!important;
    }

    .instructions{
        
        flex-direction: column;
        text-align: left;
        text-decoration: none;
        font-size: 26px;
        font-family: 'Lato', sans-serif;
        float: left;
        padding: 20px 20px 20px 20px;
        padding-left: 0px!important;
        margin-left: 10px;
        margin-right: 10px;
        flex: 50%;
    }
    .instructions h2{
      margin-left: 40px;
    }
    .instructions h4{
      margin-left: 40px;
    }

    /* .topnav-right{
        float: right;
    } */

*{
  box-sizing: border-box!important;
}
.boxer{
  background-color: lightgrey;
  width: 400px;
  border: 5px solid gray;
  border-radius: 1rem;
  padding: 25px;
  margin: auto;
  margin-top: 40px;
    /* align-items: center; */
    /* float: center; */
  margin-right: 30px;
  margin-bottom: 30px;
  flex: 50%;
}

.row{
  display: flexbox;
}



/* --- Contact --- */
footer{
  font-family: 'Lato', sans-serif;
  background: rgb(67,67,67);
  background: linear-gradient(0deg,  #dc7aeb , #9209e6 55%);
  color: black;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

footer img{
  align-items: center;
  height: 3rem;
  margin: 1.5rem 0;
  border-radius: 0.4rem!important;
}

footer a{
  color: white;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer svg.svg-inline--fa:hover{
  color: black;
}

/* hr.socket{
  border-top: 0.2rem solid black;
  width: 100%;
  text-align: center!important;
} */
hr.socket {
  width: 100%;
  border-top: 0.2rem solid #000000;
  margin-top: 3rem;
  text-align: center!important;
}

@media screen and (max-width: 1442px) {
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .caption{
        background-image:url('R.jpeg');;
        width: 100%;    
    }
    .bg{
        margin: 0 auto;
        display: flex;
        align-items: center;
        width:30%;
    }

    
    
}